/* Media queries */

/* Pour mobile */
[class*="col-"] {
  width: 100%; 
}

/*Pour petit mobile: */
@media only screen and (min-width: 400px) {
  .form {
    width: 95%;
  }
}

/*Pour tablettes: */
@media only screen and (min-width: 576px) {
  .social{
    width:100vw;
  }
  .logo{
    order:0;
  }
  .evContainer{
    order:1;
  }
  .formItem, .formLabel{
    width: 75%;
  }
  .submit {
    font-size: 1em;
  }
  .form {
    width: 85%;
  }  
}

/* Pour écran de bureau */
@media only screen and (min-width: 992px) {
  .top{
    flex-direction: row;
    height: 250px;
  }
  .evContainer{
    order:0;
  }
  .evContainerBurger{
    display:none;
  }
  .logo{
    order:1;
  }
  .logoText{
    translate: 0 -20px;
    font-size: 2em;
  }
  .socialContact{
    display:flex;
  }
  .formItem, .formLabel{
    width: 50%;
  }
  .burger, .topnav{
    display: none;
  }
  .evContainer{
    display: flex;
  }
  .img{
    width: 300px;
  }
  .form {
    width: 75%;
  }
}


@media only screen and (min-width: 1250px) {

  .formItem, .formLabel{
    width: 40%;
  }
  .svgButton{
    width: 60px;
    height: 60px;
  }
  .form {
    width: 50%;
  }
}
