*{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

html{
  margin: 0;
  padding: 0;
}

input {
  text-align: center;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}

::-moz-placeholder {
  text-align: center;
}
:-ms-input-placeholder {
  text-align: center;
}

/*header */

.top{
  border-bottom: 2px solid #331a00;
  display : flex;
  flex-direction: row;
  flex-wrap: wrap;  
  background: white;
  justify-content: space-around;
  align-items: center;
  height: 150px;
}

.img{
  width: 150px;
}
.img:hover{
  transform: scale(1.05);
  transition: transform 0.5s  ;
}
.linkEv:hover,.socialLogo:hover,.card:hover{
  transform: scale(1.1);
  transition: transform 0.5s;
}

.logo{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.logoText{
  translate: 0 -15px;
  color: #331a00;
  font-size: 1.5em;
}


/* Sidenav menu */
.sidenav {
  display:flex;  
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: -300px;
  background-color: #e8e8e8;
  transition: top 0.5s ease;
  border-bottom: 2px solid #331a00 ;
}

.sidenav a:hover {
  color:#331a00;
}

/* Active class */
.sidenav.active {
  top: 0;
}

/* Close btn */
.close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 48px;
  text-decoration: none;
  color:#331a00;
}
/* Icône burger */
.burger {
  margin:0 50px;
}
.burgerIcon span {
  display: block;
  width: 40px;
  height: 6px;
  background-color:#206020;
  margin: 6px 0;
  border: 1px;
}

.topNav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.evContainer{
  display:none;
  justify-content: center;
  align-items: center;
  background:#206020;
  border-radius: 50%;
  height: 80px;
  width: 300px;
  align-self: center;
  order:1;
}
.evContainerBurger{
  display:flex;
  justify-content: center;
  align-items: center;  
  background:#206020;
  border-radius: 50%;
  height: 80px;
  width: 150px;
  align-self: center;
}
.linkEv{
  font-size: 1.5em;
  text-decoration: none;
  color:white;
}
.linkEvBurger{  
  font-size: 1.5em;
  text-decoration: none;  
  color:white;
}
.linkEv:hover, .socialLogo:hover, .linkEvBurger:hover{
  color: #331a00;
}
.linkEv::before, .linkEvBurger::before{
  content: "\00BB";
}


.socialContact{
  display:none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:300px;
  order:2;
  margin-top: 25px;
  margin-bottom: 25px;
}
.social{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:300px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.socialBurger{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  order:2;
  margin-top: 25px;
  margin-bottom: 25px;
}
.socialLogo{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #206020;
  margin: 15px 5px 5px 15px;
  text-align: center;
  font-size: 1.2em;
}

/*section*/
.parallax{
  background-image: url("./Pictures/Background.jpg");
  min-height: 1000px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text{
  color: white;
  font-size: 1.6em;
  width: 90vw;
  text-shadow: 2px 2px black;
  font-weight: bold;
  background-color:  rgba(20, 20, 20, 0.6);
  border-radius:15px;
  padding: 10px;
  margin: 20px;
  text-align: center;
}
.wiki{
  text-decoration: underline;
  color:#fff;
}
.wiki:hover{
color:#fff;
}

/* form */
.form{
  width: 100%;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #331a00;
  opacity: 0.3; /* Firefox */
}

textarea {
  height: 25vh;
}
.submit {
  color:#331a00;
  font-size: 0.8em;
}


/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 50%; /* Set a default minimum width */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  z-index: 1; /* Add a z-index if needed */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
} 


/*footer*/
.bottom{
  border-top: 2px solid #331a00 ;
  height:100px;
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background: white;
  padding-top: 20px;
}
.tos{
  color:#331a00;
  font-size: 1.2em;
  text-align : center;
}
.backToTop{
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99;
  border: none;
  outline: none;
}
.svgButton{
  width: 50px;
  height: 50px;
}


/* Media queries */

/* Pour mobile */
[class*="col-"] {
  width: 100%; 
}

/*Pour tablettes: */
@media only screen and (min-width: 576px) {
  .social{
    width:100vw;
  }
  .logo{
    order:0;
  }
  .evContainer{
    order:1;
  }
  .form{
    width: 75%;
  }
  .submit {
    font-size: 1em;
  }
}

@media only screen and (min-width: 992px) {
  .top{
    flex-direction: row;
    height: 250px;
  }
  .evContainer{
    order:0;
  }
  .evContainerBurger{
    display:none;
  }
  .logo{
    order:1;
  }
  .logoText{
    translate: 0 -20px;
    font-size: 2em;
  }
  .socialContact{
    display:flex;
  }
  .form{
    width: 50%;
  }
  .wiki:hover{
    font-size: 1.5em;
    color:#331a00;
    text-shadow: 2px 2px #fff;
    transition: font-size 0.5s;
  }
  .burger, .sidenav{
    display: none;
  }
  .evContainer{
    display: flex;
  }
  .img{
    width: 300px;
  }
}

/* Pour PC de bureau */
@media only screen and (min-width: 1250px) {

  .form{
    width: 40%;
  }
  .svgButton{
    width: 60px;
    height: 60px;
  }
}


